<% content_for :deferred_js do %>

<script>
  $(function() {
    var will_be_moving  = false,
        old_root        = null,
        was_hidden      = false;

    algol.confirm = function(msg, heading, callback) {
      var accept_dialogue = function() {
        if (will_be_moving) {
          old_root.append( $("#confirm p.jqmConfirmMsg").children().detach() );
          // $("#confirm p.jqmConfirmMsg").html('');
          if (was_hidden) {
            old_root.children(":last").hide();
          }
        }

        if($(this).attr("id") == 'confirm_accepted') {
          // console.log("jqModal-Confirm has been accepted");

          if (typeof callback == "string") {
            window.location.href = callback;
            // console.log("JS-driven page redirection failed");
          } else {
            try {
              callback();
            } catch (script_error) {
              ui.report_error(script_error);
            }
          }
        }

        will_be_moving  = false;
        old_root        = null;
        was_hidden      = false;

        $('#confirm').jqmHide();

        return false;
      }

      $('#confirm')
        .jqmShow()
        .find('h2')
        .html(heading || "Confirmation")
        .end()
        .find('p.jqmConfirmMsg')
        .html(msg)
        .end()
        .find('#confirm_accepted,#confirm_rejected')
        .unbind('click')
        .click(accept_dialogue);

      // $("#confirm form").submit(function(e) {
      //   e.preventDefault();
      //   $("#confirm_accepted").click();
      //   return false;
      // });

      // $("#confirm").find(':submit#confirm_accepted').focus();
      $("#confirm").find('input[type=text]:first').focus();
    }

    $('#confirm').jqm({overlay: 88, modal: true, trigger: false});

    $('.confirm,a.bad').click(function(e) {
      var a = $(this);
      try {
        var msg = a.attr("data-confirm");

        if (!msg) {
          var sibling = a.next("[data-confirm]");
          if (sibling.length > 0) {
            if (sibling.attr("data-confirm") == 'move') {
              will_be_moving = true;
              old_root = sibling.parent();
              was_hidden = sibling.is(":hidden");

              if (was_hidden)
                sibling.show();

              msg = sibling.detach();
            } else {
              msg = sibling.html();
            }
          }
        }

        var heading = a.attr("data-confirm-heading") || "Confirmation";
        var accept_label = a.attr("data-confirm-accept") || "Yes";

        if (!msg || msg.length == "") {
          var confirmable_parent = a.parents("[data-confirmable]:first");
          obj = confirmable_parent;
          if (confirmable_parent.length > 0) {
            var id = confirmable_parent.attr("data-confirmable");
                id += '_' + a.html().toLowerCase() + '_';
                id += 'confirmation';

            confirmable = $('#' + id);

            heading = confirmable.find("> h1:first").html();
            msg     = confirmable.find("> p:first").html();
            if (confirmable.find("span[data-label]").length > 0) {
              accept_label = confirmable.find("span[data-label]:first").html()
            }
          }
        }

        $("div#confirm #confirm_accepted").attr("value", accept_label);

        if (!a.attr("data-confirm-cb")) {
          algol.confirm(msg, heading, a.attr("href"));
        } else {

          algol.confirm(msg, heading, function() {
            var method = dynamism.utility.lookup_method(a.attr("data-confirm-cb"));
            if (method) {
              return method(a);
            } else {
              console.log("ERROR: invalid confirmation callback: " + a.attr("data-confirm-cb"));
            }
          });
        }
      } catch (e) {
        console.log("ERROR: something bad happened while showing the cnfm dialog: ")
        console.log(e);

        $("#confirm").jqmHide();
        ui.report_error(e)
      }

      return false;
    });

  });
</script>
<% end %>

<!-- Confirm Dialog -->
<div class="jqmConfirm" id="confirm">
  <div id="ex3b" class="jqmConfirmWindow">
    <div class="jqmConfirmTitle">
      <h2>Confirm your action</h2>
    </div>

    <div class="jqmConfirmContent">
    <p class="jqmConfirmMsg"></p>
    </div>

    <input type="submit" id="confirm_rejected" class="bad" value="Cancel" />
    <input type="submit" id="confirm_accepted" class="good" value="Yes" />

  </div>
</div>