<%
  per_week = 40.0
  per_day = per_week / 5
  sessions = project.work_sessions.all({
    :started_at.gte   => Time.now.beginning_of_day,
    :finished_at.lte  => Time.now.end_of_day
  })

  hours = total_work_sessions_duration(sessions)
  ratio = (hours / (per_day) * 100)
%>

<p>
  <strong>Daily Progress</strong>
  <span class="pull-right">
    <%= hours %> hours
  </span>
</p>
<div>
  <div class="progress">
    <div class="progress-bar <%= colorize_progress ratio %>" style="width: <%= ratio %>%;"></div>
  </div>

</div>