<% without_daily ||= false %>

<%= partial "dashboard/_monthly_milestone_progress", locals: {
  month: (work_sessions.first.started_at.month rescue Time.now.month),
  hours: hours
} %>

<div>
  <% weekly = group_by_weeks(work_sessions) %>
  <% weekly.each_pair do |week, week_sessions| %>
    <div class="text-center inline" style="width: <%= (100 / weekly.length)-0.45 %>%">
      <%= partial "dashboard/_weekly_milestone_progress", locals: {
        hours: total_work_sessions_duration(week_sessions),
        week: week,
        work_sessions: week_sessions
      } %>
    </div>
  <% end %>
</div>

<%
  today = Time.now.beginning_of_day
  today_sessions = work_sessions.select do |ws|
    ws.started_at.beginning_of_day == today
  end
%>

<% unless without_daily %>
  <%= partial "dashboard/_daily_milestone_progress", locals: {
    work_sessions: today_sessions
  } %>
<% end %>