<% ratio = hours / 160.0 * 100 %>
<div class="text-center">
  <div class="progress">
    <div class="progress-bar <%= colorize_progress ratio %>" style="width: <%= ratio %>%;"></div>
  </div>
  <small><strong><%= Time.new(Time.now.year, month, 1).strftime('%B') %></strong></small>
</div>