<table class="table table-striped">
  <thead>
    <tr>
      <th>Metric</th>
      <th class="text-right">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Hours per Month</td>
      <td class="text-right"><%= hours %></td>
    </tr>

    <tr>
      <td>Hours per Week</td>
      <td class="text-right"><%= hours / 4 %></td>
    </tr>

    <tr>
      <td>Hours per Day</td>
      <td class="text-right"><%= hours / Time.days_in_month(Time.now.month) %></td>
    </tr>
  </tbody>
</table>