<%
  nr_days = work_sessions.group_by { |ws| ws.started_at.day }.keys.length || 1
  nr_weeks = group_by_weeks(work_sessions).keys.length || 1
%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Metric</th>
      <th class="text-right">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Hours per Month</td>
      <td class="text-right"><%= hours %></td>
    </tr>

    <tr>
      <td>Hours per Week</td>
      <td class="text-right"><%= hours / nr_weeks %></td>
    </tr>

    <tr>
      <td>Hours per Day</td>
      <td class="text-right"><%= hours / nr_days %></td>
    </tr>

    <tr>
      <td>Days Logged</td>
      <td class="text-right"><%= nr_days %></td>
    </tr>

  </tbody>
</table>