<% content_for :title do %> Sign in | <%= AppName %> <% end %>
<% content_for :page_title do %>Sign in<% end %>

<form class="form-inline" action="/sessions" method="POST">
  <label class="form-group">
    <span class="sr-only">Email</span>
    <input placeholder="your@email.com" type="text" name="email" class="form-control" />
  </label>
  <label class="form-group">
    <span class="sr-only">Password</span>
    <input  class="form-control" type="password" name="password" placeholder="your_password" />
  </label>

  <input type="submit" value="Login" class="btn btn-default" />
</form>

<h3 class="page-header">Sign in using an external account</h3>

<%= partial "static/oauth_signin", locals: { vertical: false } %>

