<% content_for :js do %>
  <script>
    $(function() {
      $("input[type=radio][name=whatimgoingtodo]").change(function() {
        var checked = $(this);
        $("form fieldset").hide();
        $("#thebutton").attr("disabled", "disabled")
        var fieldset = $("fieldset#" + checked.attr("value") + "_task");
        if (fieldset.length > 0) {
          console.log(fieldset)
          fieldset.show()
        }
      });

      $("input[type=radio][name=task\\\[id\\\]]").change(function() {
        $("#thebutton").attr("disabled", null);
      });

    });
  </script>
<% end %>

<form method="POST" action="/work_sessions">
  <section>
    <h3>I'm going to...</h3>
    <label><input name="whatimgoingtodo" value="nothing"  type="radio" checked="checked">Do nothing</label>
    <label><input name="whatimgoingtodo" value="new"      type="radio">Work on something new</label>
    <% unless @user.active_tasks.empty? %>
      <label>
        <input name="whatimgoingtodo" value="resume" type="radio">Pick up a job I've started earlier
      </label>
      <label>
        <input name="whatimgoingtodo" value="manage" type="radio">Manage a job
      </label>
    <% end %>
  </section>

  <section>
    <fieldset class="hidden" id="new_task">
      <h3>What is it?</h3>
      <textarea name="task[name]" id="task_name"
      placeholder="Writing test specs for thebuttonapp by #algol-labs"
        rows="3" cols="60"></textarea>
      <p class="hint" style="margin-top: 5px;"><strong>How to properly write up a task:</strong></p>
      <ul class="hint">
        <li>Write a brief "name" or <u>title</u> for the task on the <u>first line</u></li>

        <li>Attach a <u>detailed description</u> by leaving 2 new lines after the task name</li>

        <li>Use #tags to <u>classify</u> the task by the person or company you're working for, or the project name.
        <br />Tags can contain letters, numbers, -dashes- and _underscores_.
        </li>

      </ul>

    </fieldset>

    <fieldset class="hidden" id="resume_task">
      <h3>Which job?</h3>
      <ol>
        <% current_user.active_tasks.each do |t| %>
          <li>
            <label><input type="radio" name="task[id]" value="<%= t.id %>" /><%= md tagify t.name %></label>
          </li>
        <% end %>
      </ol>
    </fieldset>

    <fieldset class="hidden" id="manage_task">
      <h3>Which job?</h3>
      <ol>
        <% current_user.active_tasks.each do |t| %>
          <li>
            <label><input type="radio" name="task[id]" value="<%= t.id %>" /><%= md tagify t.name %></label>
          </li>
        <% end %>
      </ol>
    </fieldset>

  </section>

  <br />
  <input data-linked-to="task_name" type="submit" id="thebutton" value="Start session" class="thebutton" />
</form>