<footer id="bottom">
  <div class="footer_content">
    <a href="<%= AppURL %>"><%= AppName %></a><span> &copy;2013 - <a href="http://www.algollabs.com">Algol Labs LLC.</a> All rights reserved.</span>
  </div>
</footer>
