<% js_view 'tasks/navigation' %>

<div class="bs-sidebar hidden-print">
  <ul class="nav bs-sidenav">
    <% sections.each do |section| %>
      <li><a href="#<%= section[:title].sanitize %>"><strong><%= section[:title] %></strong></a></li>
      <ul class="nav">
        <% section[:tasks].each do |task| %>
          <li><a href="#<%= task.name.sanitize %>"><%= unlink md(task.name) %></a></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
</div>