<%
  complete_tasks = @user.inactive_tasks.all({ conditions: { status: :complete }, order: [ :created_at.desc]  })
  abandoned_tasks = @user.inactive_tasks.all({ conditions: { status: :abandoned }, order: [ :created_at.desc]  })
%>

<div class="row">

  <div class="col-md-3">
    <%= partial "/tasks/_navigation", locals: {
      sections: [{
        tasks: complete_tasks,
        title: 'Complete tasks'
      }, {
        tasks: abandoned_tasks,
        title: 'Abandoned tasks'
      }]
    } %>
  </div>

  <div class="col-md-9">
    <%= partial "/tasks/_listing", locals: {
        title: "Finished work",
        tasks: complete_tasks,
        task_status: 'complete'
      }
    %>

    <%= partial "/tasks/_listing", locals: {
        title: "Abandoned work",
        tasks: abandoned_tasks,
        task_status: 'abandoned'
      }
    %>
  </div>
</div>
