<% content_for :deferred_js do %>
  <script>
    $(function() {
      $('#editor').jqm({
        overlay: 88,
        ajax: '@href',
        trigger: 'a.edit-work-session',
        onLoad: function() {
          $('.jqmWrap').show();
        }
      });
    });
  </script>
<% end %>

<% @sessions = @task.work_sessions %>
<% tag_names = @sessions.map { |s| s.tags }.flatten.uniq.collect { |t| "<b>#{tagify "##{t.name}"}</b>" } %>

<section class="reports">
  <h3>Work sessions for <%= tagify @task.name %></h3>
  <p><%= @sessions.count %> work session(s)
    <% if tag_names.any? %> tagged with <%= tag_names.join(', ') %><% end %>:
  </p>
  <%= partial "work_sessions/_index", locals: {
    work_sessions: @sessions,
    with_actions: true,
    with_task: false,
    with_count: false
  } %>
</section>

<div class="jqmWrap">
  <div class="jqmWindow" id="editor">
  </div>
</div>