<% content_for :layout_classes do %>dashboard<% end %>
<% if @user.current_session %>
  <%= partial "dashboard/active" %>
<% else %>
  <%= partial "dashboard/idle" %>
<% end %>
<hr />
<p>You can also browse
  the work you're <a href="/tasks/current">currently busy with</a>,
  work you <a href="/tasks/history">finished earlier</a>,
  or you can <a href="/reports/new">generate a report</a>.
</p>

<%# partial "dashboard/tags" %>
