<% content_for :layout_classes do %>dashboard<% end %>
<% if @user.current_session %>
  <%= partial "dashboard/active" %>
<% else %>
  <%= partial "dashboard/idle" %>
  <% partial "dashboard/tags" %>
  <% partial "dashboard/history" %>
  <% partial "dashboard/report" %>
<% end %>
<hr />
<p>You can also browse the work you <a href="/tasks/history">finished earlier</a>, or
  <a href="/reports/new">generate a report</a>.</p>
