header { display: none; }
.page_title:before,
.title:before {

}

body {
  margin: 0 !important;
}

footer {
  display: none;
}
.pdf table {
  /*page-break-after: always;*/
}

/*.pdf section:nth-of-type(2) h3 {
  page-break-before: always;
}*/
.pdf td,
.pdf th {
  padding: 5px;
}
.pdf section h3:before { content: ''; margin: 0; }

.pdf.reports tr:nth-of-type(even) {
  /*background: rgba(150, 180, 130, 0.25);*/
  background: rgba(0, 0, 0, 0.075);
}

.pdf h2:first-of-type {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}