<% if current_user.auto_password %>
  <p class="warning">
    A temporary password has been generated and sent to your email address
    <%= current_user.email %>. Please check that message and update your password
    before proceeding. <em class="small hint">You might have to check your Spam folder if your inbox doesn't receive
      the message in the following minute.</em>
    <br /><br />
    <a href="/notcies/password/new?redispatch=true">Re-send temporary password.</a>
  </p>
<% else %>
  <%= partial "/users/settings/_nav" %>
<% end %>

<form method="POST" action="/settings/password">
  <fieldset>
    <legend>Password</legend>

    <ol>
      <li><label>Your current password:</label></li>
      <li>
        <input type="password" class="fat" name="password[current]" />
      </li>
      <li><label>New password</label><br />
        <span class="hint">Type it twice to confirm it</span>
      </li>
      <li>
        <label>#1 &rarr; <input type="password" class="fat" name="password[new]" style="margin-bottom: 5px;" /></label>
        <br />
        <label>#2 &rarr; <input type="password" class="fat" name="password[confirmation]" /></label>
      </li>
    </ol>
  </fieldset>

  <input type="submit" value="Update Password" />
</form>