<% content_for :css do %>
  <link type="text/css" rel="stylesheet" href="/css/settings.css" />
<% end %>

<% content_for :scripts do %>
  <script>
    $(function() {
      $(".settings > .settings_nav a[href=\"<%= request.path %>\"]")
        .addClass("selected").parent().addClass("selected");

    })
  </script>
<% end %>

<!-- <nav> -->
<div class="settings_nav col-md-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Settings</h4>
    </div>

    <div class="panel-body">

      <ul class="styleless">
        <li><a data-placement="right" title="Name, email, etc." href="/settings/account">Account</a></li>
        <li><a data-placement="right" title="Change your password" href="/settings/password">Password</a></li>
        <li><a data-placement="right" title="Notifications you should accept" href="/settings/notifications">Notifications
          <% if current_user.pending_notices.any? %>
            <span data-amount>(<%= current_user.pending_notices.size %>)</span>
          <% end %>
          </a>
        </li>
        <li><a data-placement="right" title="Logs you out" href="/sessions/destroy">Log out</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- </nav> -->
