<form class="form" id="user_signup" action="/users" method="POST">
  <label><input class="form-control" type="text" name="name" placeholder="Your Name" autocomplete="off" /></label>
  <label><input class="form-control" type="text" name="email" placeholder="your@email.com" autocomplete="off" /></label>

  <label><input type="password" class="form-control" name="password" placeholder="your_password123" style="margin-bottom: 5px;" autocomplete="off" /></label>
  <label><input type="password" class="form-control" name="password_confirmation" placeholder="your_password_again123" autocomplete="off" /></label>

  <div class="form-controls">
    <input type="submit" class="btn btn-primary" value="Get your account" />
  </div>
</form>