<% content_for :title do %> Sign up | <%= AppName %> <% end %>
<% content_for :layout_classes do %>sessions<% end %>

<h1>Create a <%= AppName %>&trade; account</h1>

<%= partial "/users/_form" %>
<%= partial "/static/browser_notice" %>