<% content_for :layout_classes do %>welcome sessions<% end %>
<section>
  <h2 class="title">Track your consulting hours</h2>
  <p>
    <%= AppName %> helps you keep track of the time you spend
    working on consulting and freelance projects.
  </p>
</section>
<section>
  <h2 class="title">One rule: one <em class="highlight">button</em></h2>
  <p>When you're about to start working, you push the button&trade;. And when you're done working, you push it again.
    That's it.
  </p>
</section>
<section>
  <h4>Get started <span class="">(or <a href="/sessions/new">sign in</a>)</span></h4>
  <p>You can sign up for a free account.</p>
  <%= partial "/users/_form" %>
  <p>Or use an existing account to sign in.</p>
  <%= partial "/static/oauth_signin", locals: { vertical: false } %>
  <p class="hint">thebutton&trade;app doesn't publish anything to your account on those apps, it only uses it to authenticate you with our servers</p>
</section>
