<% content_for :page_title do %><%= @client.name %> - Client Settings<% end %>

<%= partial "clients/_form", locals: {
  endpoint: "/clients/#{@client.id}"
} %>

<div class="actions">
  <a href="<%= @client.url %>">Back to <%= @client.name %></a>
</div>
