<%
  work_sessions ||= WorkSession.all({
    :started_at.gte   => Time.now.beginning_of_month,
    :finished_at.lte  => Time.now.end_of_month
  })
  domain ||= 'day'
  chart_data = {}

  group = work_sessions.dup
  group = group.group_by do |ws|
    ws.started_at.send :"beginning_of_#{domain}"
  end

  group = group.map do |k, entries|
    hash = {}
    hash[k] = (entries.map(&:duration).reduce(&:+) / 3600.0).round(2)
    hash
  end

  group.each do |entry|
    chart_data[entry.keys.first] = entry.values.first
  end
%>

<%= line_chart(chart_data, library: {
    chart: {
      reflow: true
    },
    exporting: {
      enabled: false
    },
    tooltip: {
      pointFormat: ' <span style="color:{series.color}; font-weight: bold">{point.y}</span> hours<br/>'
    },
    yAxis: {
      title: {
        enabled: true,
        text: 'Hours'
      }
    }
  })
%>