<% with_task = true if with_task.nil? %>
<% with_actions = false if with_actions.nil? %>
<% with_total = true if with_total.nil? %>
<% with_count = true if with_count.nil? %>

<% if work_sessions.any? %>
  <% if with_count %>
    <p class="work-session-count"><%= work_sessions.count %> work sessions.
    </p>
  <% end %>

  <table class="table table-striped split-me">
    <thead>
      <tr>
        <th>Duration</th>
        <th>On</th>

        <% if with_task %>
          <th>Task</th>
        <% end %>

        <th>Summary</th>

        <% if with_actions %>
          <th class="text-right">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% work_sessions.each do |work_session| %>
        <%= partial "work_sessions/_show", locals: {
          work_session: work_session,
          with_actions: with_actions,
          with_task: with_task
        } %>
      <% end %>

    </tbody>
    <% if with_total %>
      <% total = 0 %>
      <%
        work_sessions.each { |work_session|
          total += work_session.duration
        }
      %>
      <tfoot>
        <tr>
          <td colspan="4"><strong>Total</strong>: <%= pretty_time total %> (<%= time_in_hours total %>)</td>
        </tr>
      </tfoot>
    <% end %>
  </table>
<% else %>
  <p>There are no work sessions.</p>
<% end %>