<script>
  $('form').on('submit', function(e) {
    var $form = $(this);
    var $duration = $form.find('[name="duration"]');

    if ($duration.val().length) {
      $duration.val( parseInt( $duration.val() ) * 60 );
    }

    return true;
  });

</script>

<div class="jqmConfirmTitle">
  <h2>Edit work session</h2>
</div>

<form method="POST" action="<%= @work_session.url %>" class="form">

  <fieldset>
    <label>
      Duration (minutes):
      <input type="text" autocomplete="off" name="duration" value="<%= @work_session.duration / 60 %>" class="form-control" />
    </label>

    <label>
      Summary:
      <textarea rows="8" type="text" name="summary" class="form-control"><%= @work_session.summary %></textarea>
    </label>

  </fieldset>

  <input type="submit" value="Update" class="btn btn-success" />
</form>