@charset "UTF-8";

@import "../../vendor/css/bootstrap-3.0.0";
@import "../../vendor/css/variables";
@import "../../vendor/css/bootswatch";
@import "reports";

body.pdf {
  font-size: 12px;

  > .navbar {
    display: none;
  }
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}
.inline > * {
  vertical-align: middle;
}

em.highlight {
  font-style: normal;
}


// .page_title:before,
// .title:before {
//   content: '>> ';
//   color: #aaa;
//   margin-left: -30px;
// }

// .page_title:after,
// .title:after {
//   content: ' <<';
//   color: #aaa;
// }

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px; /* bottom = footer height */
}
footer {
  // position: absolute;
  // left: 0;
  // bottom: 0;
  // height: 40px;
  // width: 100%;
  // padding: 10px 0;
  // border-top: 1px solid #ddd;
  // font-size: 11px;
  // margin-top: 15px;
  display: none;

}

td .task_status {
  padding: 2px 5px;
  font-size: 11px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.task_status.complete   { background-color: #98BF0D;  color: white; }
.task_status.active     { background-color: black;  color: white; }
.task_status.pending    { background-color: orange; color: white; }
.task_status.abandoned  { background-color: red;    color: white; }

.dashboard #resume_task li p,
.dashboard #manage_task li p { display: inline-block; margin: 0; }

label {
  display: block;
}

.form-controls {
  margin: 1em 0;
}
// header { display: none; }

body {
  margin: 0 !important;
}

.pdf table {
  // page-break-after: always;
}

// .pdf section:nth-of-type(2) h3 {
//   page-break-before: always;
// }

.pdf td,
.pdf th {
  padding: 5px;
}
body.pdf.reports table {
  tr:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.075);
  }
}

.pdf section h3:before { content: ''; margin: 0; }


.pdf h2:first-of-type {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.pdf .jqmConfirm { display: none; }

