<% content_for :deferred_js do %>
  <script>
    $(function() {
      $("button").click(function() {
        $(".notes").toggle();
        var alt = $(this).attr("data-alt");
        $(this).attr("data-alt", $(this).html());
        $(this).html(alt);
      })
    })
  </script>
<% end %>

<% content_for :sticky do %>
<button data-alt="Show task notes">Hide task notes</button>
<% end %>

<%= partial "/tasks/_listing", locals: {
    title: "Finished work",
    tasks: @user.inactive_tasks.all({ conditions: { status: :complete }, order: [ :created_at.desc]  }),
    task_status: 'complete'
  }
%>

<br />
<br />

<%= partial "/tasks/_listing", locals: {
    title: "Abandoned work",
    tasks: @user.inactive_tasks.all({ conditions: { status: :abandoned }, order: [ :created_at.desc]  }),
    task_status: 'abandoned'
  }
%>
