<% @t ||= @user.tasks.new %>
<div class="jqmConfirmTitle">
  <h2>Edit task</h2>
</div>
<form method="POST" action="/tasks/<%= @t.id %>">
  <fieldset>
    <ol>
      <li>Name*</li>
      <li><input type="text" name="task[name]" value="<%= @t.name %>" /></li>

      <li><label>Details</label></li>
      <li><textarea rows="8" type="text" name="task[details]"><%= @t.details %></textarea></li>
    </ol>
  </fieldset>
  <input type="submit" value="<%= @t.saved? ? 'Update' : 'Create' %> task" />
</form>