<div class="jqmConfirmTitle">
  <h2>Edit note</h2>
</div>
<form method="POST" action="/notes/<%= @n.id %>">
  <fieldset>
    <ol>
      <li><textarea rows="8" type="text" name="note[content]"><%= @n.content %></textarea></li>
    </ol>
  </fieldset>
  <input type="submit" value="Update note" />
</form>