<h1>Pibi&trade; FAQ</h1>

<h3 id="toc_1">#1 - How do I track my bills?</h3>
<p><a href="/transactions/recurrings">Recurring transactions</a> are ones that occur repeatedly at a given point of time that you can specify; daily, monthly, or yearly.</p>
<p>When creating a monthly recurring transaction, you can specify the day of each month on which the bill should be tracked. When creating a yearly one, you can choose both the month and day of the year on which it should be billed.</p>

<h3>#2 - How do I track my salary?</h3>
<p>See the answer to <a href="#toc_1">#1</a> above, since <i>positive</i> bills such as a salary can also be represented by <a href="/transactions/recurrings">recurring transactions</a>.</p>
