<% content_for :title do %>401 - Unauthorized | <%= AppName %><% end %>

<h2>401 - Unauthorized</h2>

<p>You must <a href="/sessions/new">sign-in</a> to <%= AppName %>&trade; first to visit this page.</p>

<h3>In the meantime...</h3>
<p>How about a snowman? <span class="snowman"></span></p>
