<div data-modal="moveTasks">
  <div class="modal-title">
    Move Tasks
  </div>

  <form class="form">
    <label class="control-label">
      Destination Project
      <select name="project_id" class="form-control">
        {{#each projects}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </label>

    <div class="progress">
      <div class="progress-bar progress-bar-success">
      </div>
    </div>
  </form>

  <div class="modal-actions">
    <button data-action="moveTasks" class="btn btn-success">Apply</button>
  </div>
</div>