<% [ 'facebook', 'google_oauth2', 'github' ].each do |p| %>
  <% msg = "Sign in using your #{provider_name(p)} account" %>
  <a title="<%= msg %>" href="/auth/<%= p %>"><img src="/images/icons/32x32/<%= p %>.png" alt="<%= msg %>" /></a>
<% end %>
