<form id="user_signup" action="/users" method="POST">
  <label><input class="very_fat" type="text" name="name" placeholder="Your Name" autocomplete="off" /></label>
  <label><input class="very_fat" type="text" name="email" placeholder="your@email.com" autocomplete="off" /></label>

  <label>#1 &rarr; <input type="password" class="fat" name="password" placeholder="your_password123" style="margin-bottom: 5px;" autocomplete="off" /></label>
  <label>#2 &rarr; <input type="password" class="fat" name="password_confirmation" placeholder="your_password_again123" autocomplete="off" /></label>

  <div class="form-controls">
    <input type="submit" value="Get your account" />
  </div>
</form>