<h2>Misc. links</h2>

<ol>
  <li><a href="/categories">Categories</a></li>
  <li><a href="/transactions/recurrings">Bills</a></li>
  <li><a href="/settings/account">Account</a></li>
  <li><a href="/sessions/destroy">Sign out</a></li>
</ol>