<h2>Verification pending</h2>

<p>It seems like a verification email for the address '<%= current_user.email %>' has already been sent. Would you like
  to <a href="/notices/email/new?redispatch=true">send another</a>?
</p>
