<h2>Verification sent</h2>

<p>An email has been sent to the address <%= current_user.email %>, please open it and visit the link
  to complete the verification.
</p>
<p>
<a class="btn btn-default prev inline small" href="<%= back %>">Back to settings</a></p>