<div class="header-wrap"></div>
<header class="container navbar">
  <div class="row">

    <h1 class="inline"><a href="/">the<em>button</em>app</a></h1>
    <span class="subtitle"><%#= yield_content :subtitle %></span>
    <div class="subheader">
      <%= yield_content :nav %>
      <%= yield_content :subheader %>
    </div>
  </div>
</header>
